<!DOCTYPE html>
<html lang="en">

<head>
	<title>Comic News Assemble!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
		<h1 class="display-4">Comic News Assemble!</h1>
		<br>
		<p class="lead"><i> Latin word Stan Lee made his life motto: “Excelsior!” ... “Excelsior” has long been Lee's catchphrase. 
      In the mid-1960s, not long after Atlas Comics rebranded as Marvel, Lee wrote a monthly column for the comics publisher in 
      which he'd sign off with “Excelsior!”—a Latin word meaning “ever upward.”</i></p>
	</div>

	{{!-- <button class="btn btn-primary btn-lg" id="scrape">Scrape Articles</button> --}}
	<div id="wrapper">

		<h5>Scraped articles:</h5>
		{{{ body }}}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
	<script src="app.js"></script>

</body>

</html>